.title-bar {
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.title-bar-draggable {
  -webkit-app-region: drag;
  height: 100%;
  width: 100%;
}

.title-bar-buttons {
  -webkit-app-region: no-drag;
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title-button {
  width: 100%;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.title-button img {
  width: 0.8rem;
}

.title-button:hover img {
  filter: brightness(0.7);
}
