:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;

  color: rgb(213, 213, 213);
  background-color: #242424;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Global theme variables */
  --btn-bg-color: rgb(12, 144, 0);
  --btn-hover-bg-color: rgb(7, 81, 0);
  --btn-color: rgb(255, 255, 255);
  --btn-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
  --btn-font-size: 1rem;
  --btn-radius: 4px;

  --input-hover-bg-color: rgb(5, 58, 0, 0.3);
  --input-hover-border-color: rgb(0, 150, 0);
  --input-hover-color: rgb(0, 200, 0);
  --input-font-size: 0.9rem;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(65, 65, 65);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(50, 50, 50);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #151912;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 2px solid rgba(0, 255, 0, 0.5);
}

/* Global Components */
.themed-button {
  border: none;
  width: 100px;
  height: 40px;
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
  border-radius: var(--btn-radius);
  box-shadow: var(--btn-shadow);
  font-size: var(--btn-font-size);
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
}

.themed-button:hover,
.themed-button:focus {
  background-color: var(--btn-hover-bg-color);
}

.themed-input {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-indent: 0.3rem;
  border: 1px solid rgb(118, 118, 118);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 4px 4px 0px 0px;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  color: rgb(200, 200, 200);
  font-size: var(--input-font-size);
}

.themed-input:hover,
.themed-input:focus {
  background-color: var(--input-hover-bg-color);
  border-color: var(--input-hover-border-color);
  color: var(--input-hover-color);
}

.themed-input:hover::placeholder,
.themed-input:focus::placeholder {
  color: var(--input-hover-color);
}

/* Tooltips */
.element-with-tooltip {
  width: 100%;
  position: relative;
  display: inline-block;
}
.tooltip-text {
  visibility: hidden;
  background-color: rgb(0, 60, 0);
  color: white;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  min-width: fit-content;
  opacity: 0;
  transition: 0.2s ease;
  white-space: nowrap;
  font-size: 0.9rem;
  box-shadow: 0px 0px 8px rgb(0, 60, 0, 0.8);
  transform: translateX(-50%) translateY(5px);
}
.tooltip-text::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 60, 0) transparent transparent transparent;
}
.element-with-tooltip input:hover ~ .tooltip-text,
.element-with-tooltip input:focus ~ .tooltip-text,
.element-with-tooltip button:hover ~ .tooltip-text,
.element-with-tooltip button:focus ~ .tooltip-text {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
.element-with-tooltip .tooltip-text {
  transition: 0.2s ease;
}

.element-with-tooltip button:disabled ~ .tooltip-text {
  background-color: gray;
  box-shadow: 0px 0px 8px rgb(128, 128, 128, 0.8);
}
.element-with-tooltip button:disabled ~ .tooltip-text::before {
  border-color: gray transparent transparent transparent;
}

/* Custom neon loading bar */
.loading-bar {
  width: 100%;
  height: 15px;
  background-color: rgb(0, 150, 0);
  overflow: hidden;
  position: fixed;
  animation: breathe 4s infinite ease-in-out;
  bottom: 0px;
  left: 0px;
  z-index: 400;
}

.loading-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgb(0, 255, 0), transparent);
  animation: loading 3s infinite ease-in-out;
}

@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes breathe {
  0%,
  100% {
    box-shadow: 0 0 20px rgb(0, 150, 0);
  }
  50% {
    box-shadow: 0 0 5px rgb(0, 150, 0);
  }
}
